.heroSection{
    text-align: center;
    position: relative;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 8%;
    padding-left: 8%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    margin: auto;
}

h1 {
    
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -.025em;
}

p{
    color:#A0AABA;
    font-size: 24px;
    line-height: 36px;
    max-width: 540px;
    margin-top: -10px;
    position: relative;
    font-weight: 400;
    letter-spacing: -.01em;
}

a {
    position: relative;
    padding: 12px 20px;
    border-radius: 100px;
    background-color: #007afc;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 550;
    text-align: center;
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
}

.heroSection button {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    color: #007afc;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: none;
    max-width: 100%;
    background-color: transparent;
    border: hidden;
    cursor: pointer;
}